importFrom("grDevices", "bmp", "dev.print")
importFrom("graphics", "hist", "par")
importFrom("stats", "kmeans", "median", "sd")
importFrom("utils", "read.table", "write.table")

# Export all names
exportPattern(".")
